Repository employee-performance-assessment/EPA_FrontEnd: changes, and which lint-staged commands are due for each by the changed paths.
All: npm jest, npm run lint, npm run format

.lintstagedrc:

{
	"*.test.{js,jsx}": "npm jest",
	"*.{js,jsx}": "npm run lint",
	"*.{js,jsx,css,scss,md,html,json}": "npm run format"
}

Jest настроен, подружил его с lint-stage
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/App.jsx
  src/Link/Link.jsx
  src/index.jsx
  src/reportWebVitals.js
  src/stories/Button.stories.js
  src/stories/Header.stories.js
  src/stories/Page.stories.js
Due: npm run lint, npm run format

feat: f
  package.json
Due: npm run format

feat: g
  babel.config.js
  jest.config.js
  package.json
  src/App.jsx
  src/App.test.jsx
  src/Link/Link.jsx
  src/index.jsx
  src/stories/Button.stories.js
  src/stories/Configure.mdx
  src/stories/Header.stories.js
  src/stories/Page.stories.js
Due: npm jest, npm run lint, npm run format

Keep calm and commit
  .eslintignore
  .lintstagedrc
  jest.config.js
  package.json
  src/App.jsx
  src/App.test.jsx
  src/Link/Link.jsx
  src/Link/Link.test.js
  src/index.jsx
  src/stories/Button.jsx
  src/stories/Button.stories.js
  src/stories/Header.jsx
  src/stories/Header.stories.js
  src/stories/Page.jsx
  src/stories/Page.stories.js
Due: npm jest, npm run lint, npm run format

Keep calm and commit
  .husky/pre-commit
  package.json
Due: npm run format

feat: fgdsgfgs
  .eslintrc.json
  .husky/pre-commit
  .prettierrc.json
  package-lock.json
  package.json
  src/App.jsx
  src/App.test.jsx
  src/Link/Link.jsx
  src/Link/Link.test.js
  src/index.jsx
  src/stories/Button.jsx
  src/stories/Button.stories.js
  src/stories/Header.jsx
  src/stories/Header.stories.js
  src/stories/Page.jsx
  src/stories/Page.stories.js
Due: npm jest, npm run lint, npm run format

feat: fbgbf
  .storybook/main.js
  .storybook/preview.js
  babel.config.js
  jest.config.js
  package.json
  public/index.html
  public/manifest.json
  src/index.scss
  src/stories/Configure.mdx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: npm run lint, npm run format

feat(gdfgdsf): dgd
  package.json
Due: npm run format

feat(выффывфы): выффввфывфыв
  .husky/pre-commit
Due: none

feat(dsdssdf): ddfdsfd
  .husky/pre-commit
Due: none

feat(fdgdfgd): dgdgdffgdfs
  .husky/pre-commit
Due: none

feat(fggsdg): dgdgdgdf
  src/App.jsx
Due: npm run lint, npm run format

build(тесты работают): все запускается через npm run cm, предварительно нудно зафиксировать файлы
  src/App.jsx
Due: npm run lint, npm run format

feat(store): создать и подключить стор (redux), добавить тестовый слайс user
  src/index.jsx
  src/services/redux/constants.js
  src/services/redux/index.js
  src/services/redux/user/get-user/getUser.js
  src/services/redux/user/selectors.js
  src/services/redux/user/userSlice.js
Due: npm run lint, npm run format

feat(testcomponent): создать и добавить в App TestComponent для проверки стора
  src/App.jsx
  src/testComponent/component.jsx
Due: npm run lint, npm run format

'constants for scss'
  src/components/AdminPanel/AdminPanel.jsx
  src/components/AdminPanel/AdminPanel.scss
  src/components/App/App.jsx
  src/components/App/App.scss
  src/components/Card/Card.jsx
  src/components/Card/Card.scss
  src/components/MainPage/MainPage.jsx
  src/components/NotFound/NotFound.jsx
  src/components/NotFound/NotFound.scss
  src/index.scss
Due: npm run lint, npm run format

подготовлено к сторибуку
  .storybook/main.js
  .storybook/preview.js
  public/index.html
  public/manifest.json
  src/components/App/App.jsx
  src/components/Auth/Auth.jsx
  src/components/Card/Card.jsx
  src/components/Form/Form.jsx
  src/components/Link(artefactDoNotDel)/Link.test.js
  src/components/Preloader/Preloader.jsx
  src/constants/regexp.js
  src/index.jsx
  src/index.scss
  src/reportWebVitals.js
  src/stories/Button.jsx
  src/stories/Header.jsx
  src/utils/auth.js
  src/utils/checkResponse.js
  src/utils/mainApi.js
Due: npm jest, npm run lint, npm run format

feat: наведение порядка в репазитории
  .eslintrc.json
  jest.config.js
  src/components/AdminPanel/AdminPanel.jsx
  src/components/App/App.jsx
  src/components/Auth/Auth.jsx
  src/components/Board/Board.jsx
  src/components/Boards/Boards.jsx
  src/components/Card/Card.jsx
  src/components/Cards/Cards.jsx
  src/components/Form/Form.jsx
  src/components/HeaderAbout/HeaderAbout.jsx
  src/components/HeaderAbout/HeaderAbout.scss
  src/components/HeaderAdmin/HeaderAdmin.jsx
  src/components/HeaderAdmin/HeaderAdmin.scss
  src/components/HeaderKanban/HeaderKanban.jsx
  src/components/HeaderKanban/HeaderKanban.scss
  src/components/Link(artefactDoNotDel)/Link.jsx
  src/components/Link(artefactDoNotDel)/Link.test.js
  src/components/Link(artefactDoNotDel)/__snapshots__/Link.test.js.snap
  src/components/MainPage/MainPage.jsx
  src/components/NotFound/NotFound.jsx
  src/components/NotFound/NotFound.scss
  src/components/PersonalArea/PersonalArea.jsx
  src/components/Preloader/Preloader.jsx
  src/components/ProtectedRoute/ProtectedRoute.jsx
  src/components/Toolbar/Toolbar.jsx
  src/constants/regexp.js
  src/reportWebVitals.js
  src/stories/Button.jsx
  src/stories/Header.jsx
  src/utils/mainApi.js
Due: npm jest, npm run lint, npm run format

created component TimerDeadline, added Montserrat font
  package-lock.json
  package.json
  src/components/Auth/Auth.jsx
  src/components/MainPage/MainPage.jsx
  src/components/TimerDeadline/TimerDeadline.jsx
  src/components/TimerDeadline/TimerDeadline.module.scss
  src/index.scss
  src/services/redux/constants.js
  src/services/redux/index.js
  src/services/redux/user/get-user/getUser.js
  src/services/redux/user/selectors.js
  src/services/redux/user/userSlice.js
  src/testComponent/component.jsx
  src/vendor/fonts.css
  src/vendor/fonts/Montserrat-Black.woff
  src/vendor/fonts/Montserrat-SemiBold.woff
Due: npm run lint, npm run format

feat: config lint
  .editorconfig
  .eslintrc.json
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/Board/Board.css
  src/components/Card/Card.css
  src/components/Card/Card.scss
  src/services/redux/constants.js
  src/services/redux/index.js
  src/services/redux/user/get-user/getUser.js
  src/services/redux/user/selectors.js
  src/services/redux/user/userSlice.js
  src/testComponent/component.jsx
Due: npm run lint, npm run format

feat: настройка линта
  src/components/Auth/Auth.jsx
Due: npm run lint, npm run format

feat(checkbox): add Checkbox component
  .husky/pre-commit
  package.json
  src/components/Checkbox/Checkbox.jsx
  src/components/Checkbox/Checkbox.scss
Due: npm run lint, npm run format

feat(cardemployee, criterioninput): create new components
  .husky/pre-commit
  package.json
  src/components/CardEmployee/CardEmployee.json
  src/components/CardEmployee/CardEmployee.jsx
  src/components/CardEmployee/CardEmployee.module.scss
  src/components/CriterionInput/CriterionInput.jsx
  src/components/CriterionInput/CriterionInput.module.scss
Due: npm run lint, npm run format

feat(cardrating): pull changes from development to card-rating
  .eslintrc.json
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/App/App.jsx
  src/components/Auth/Auth.jsx
  src/components/Board/Board.css
  src/components/Card/Card.css
  src/components/Card/Card.scss
  src/components/MainPage/MainPage.jsx
  src/components/TimerDeadline/TimerDeadline.jsx
  src/components/TimerDeadline/TimerDeadline.module.scss
  src/index.jsx
  src/index.scss
  src/testComponent/component.jsx
  src/vendor/fonts.css
  src/vendor/fonts/Montserrat-Black.woff
  src/vendor/fonts/Montserrat-SemiBold.woff
Due: npm run lint, npm run format

feat: fix arrStart => const
  .eslintrc.json
  src/components/Card/Card.jsx
  src/components/CardRating/CardRating.jsx
Due: npm run lint, npm run format

feat: null
  src/components/CardRating/CardRating.css
Due: npm run format

feat(filter, customarrow): create Filter and CustomArrow components
  package-lock.json
  package.json
  src/components/CustomArrow/CustomArrow.jsx
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.scss
  src/images/CaretDown.svg
Due: npm run lint, npm run format

feat: checkbox => dev
  .husky/pre-commit
  epa_frontend.7z
  package.json
Due: npm run format

feat(styles): split styles into separate files
  .eslintrc.json
  src/index.jsx
  src/styles/_global.scss
  src/styles/_mixins.scss
  src/styles/_vars.scss
  src/styles/index.scss
Due: npm run lint, npm run format

feat(канбан): готова
  src/components/App/App.jsx
  src/components/Board/Board.css
  src/components/Board/Board.jsx
  src/components/Boards/Boards.css
  src/components/TimerDeadline/TimerDeadline.module.scss
  src/constants/boardsList.js
Due: npm run lint, npm run format

style(checkbox and filter components): edit styles in Checkbox and Filter components
  src/components/AdminPanel/AdminPanel.jsx
  src/components/App/App.jsx
  src/components/Board/Board.jsx
  src/components/Boards/Boards.jsx
  src/components/Card/Card.jsx
  src/components/CardEmployee/CardEmployee.jsx
  src/components/CardRating/CardRating.jsx
  src/components/Cards/Cards.jsx
  src/components/Checkbox/Checkbox.jsx
  src/components/Checkbox/Checkbox.scss
  src/components/CriterionInput/CriterionInput.jsx
  src/components/CustomArrow/CustomArrow.jsx
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.scss
  src/components/Form/Form.jsx
  src/components/Header/Header.jsx
  src/components/MainPage/MainPage.jsx
  src/components/NotFound/NotFound.jsx
  src/components/PersonalArea/PersonalArea.jsx
  src/components/Preloader/Preloader.jsx
  src/components/ProtectedRoute/ProtectedRoute.jsx
  src/components/TimerDeadline/TimerDeadline.jsx
  src/components/Toolbar/Toolbar.jsx
  src/stories/Button.jsx
  src/stories/Header.jsx
  src/testComponent/component.jsx
Due: npm run lint, npm run format

style(checkbox.scss): edit text color
  .eslintrc.json
  src/components/Checkbox/Checkbox.scss
  src/components/CriterionInput/CriterionInput.module.scss
  src/styles/_vars.scss
  src/styles/index.scss
Due: npm run format

create Login and Register pages
  src/components/App/App.jsx
  src/components/Auth/Auth.module.scss
  src/components/Auth/Auth.scss
  src/components/Logo/Logo.jsx
  src/components/Logo/Logo.module.scss
  src/components/MainPage/MainPage.jsx
  src/components/Register/Register.jsx
  src/components/Register/Register.module.scss
  src/constants/constantAPI.js
  src/images/eye-icon.svg
  src/images/register-img.png
  src/utils/auth.js
  src/utils/hooks/useFormValidation.js
  src/utils/mainApi.js
Due: npm run lint, npm run format

create Login and Register pages
  src/components/App/App.jsx
  src/components/Auth/Auth.jsx
  src/components/MainPage/MainPage.jsx
  src/components/Register/Register.jsx
Due: npm run lint, npm run format

feat(employee profile card component): add EmployeeProfileCard component
  src/components/AdminPanel/AdminPanel.jsx
  src/components/App/App.jsx
  src/components/Board/Board.jsx
  src/components/Boards/Boards.jsx
  src/components/Card/Card.jsx
  src/components/CardEmployee/CardEmployee.jsx
  src/components/CardRating/CardRating.jsx
  src/components/Cards/Cards.jsx
  src/components/Checkbox/Checkbox.jsx
  src/components/CriterionInput/CriterionInput.jsx
  src/components/CustomArrow/CustomArrow.jsx
  src/components/EmployeeProfileCard/EmployeeProfileCard.jsx
  src/components/EmployeeProfileCard/EmployeeProfileCard.scss
  src/components/Filter/Filter.jsx
  src/components/Form/Form.jsx
  src/components/Header/Header.jsx
  src/components/MainPage/MainPage.jsx
  src/components/NotFound/NotFound.jsx
  src/components/PersonalArea/PersonalArea.jsx
  src/components/Preloader/Preloader.jsx
  src/components/ProtectedRoute/ProtectedRoute.jsx
  src/components/TimerDeadline/TimerDeadline.jsx
  src/components/Toolbar/Toolbar.jsx
  src/images/3dots.svg
  src/stories/Button.jsx
  src/stories/Header.jsx
  src/testComponent/component.jsx
Due: npm run lint, npm run format

feat(assessmentpage): create page with assessment cards
  src/components/AssessmentCard/AssessmentCard.jsx
  src/components/AssessmentCard/AssessmentCard.module.scss
  src/components/AssessmentFilter/AssessmentFilter.jsx
  src/components/AssessmentFilter/AssessmentFilter.module.scss
  src/components/AssessmentPage/AssessmentPage.json
  src/components/AssessmentPage/AssessmentPage.jsx
  src/components/AssessmentPage/AssessmentPage.module.scss
Due: npm run lint, npm run format
