Repository employee-performance-assessment/EPA_FrontEnd: changes, and which lint-staged commands are due for each by the changed paths.
All: npm jest, npm run lint, npm run format

.lintstagedrc:

{
	"*.test.{js,jsx}": "npm jest",
	"*.{js,jsx}": "npm run lint",
	"*.{js,jsx,css,scss,md,html,json}": "npm run format"
}

fix: edit Dockerfile, nginx.conf
  .dockerignore
  Dockerfile
  nginx.conf
Due: none

feat(analyticspage): add ratings analytics to a separate RatingsAnalytics component
  src/components/RatingsAnalytics/RatingsAnalytics.jsx
  src/components/RatingsAnalytics/RatingsAnalytics.module.scss
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/AnalyticsPage/AnalyticsPage.module.scss
Due: npm run lint, npm run format

feat(deadlineanalytics): add DeadlineAnalytics logic and styles
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/RatingsAnalytics/RatingsAnalytics.jsx
  src/images/employee-icon-intruder.svg
  src/images/employee-icon-leader.svg
  src/pages/AnalyticsPage/AnalyticsPage.jsx
Due: npm run lint, npm run format

feat(deadlinedesignations): endure DeadlineDesignations
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/DeadlineDesignations/DeadlineDesignations.jsx
  src/components/DeadlineDesignations/DeadlineDesignations.scss
Due: npm run lint, npm run format

refactor(analyticspage): split logic from AnalyticsPage into RatingsAnalytics and DeadlineAnalytics
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/RatingsAnalytics/RatingsAnalytics.jsx
  src/components/RatingsAnalytics/RatingsAnalytics.module.scss
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/pages/AnalyticsPage/AnalyticsPage.module.scss
Due: npm run lint, npm run format

feat: add yml file
  .github/workflows/publish-image.yml
Due: none

fix: add docker image name to yml file
  .github/workflows/publish-image.yml
Due: none

feat(deadlineanalytics): add in DeadlineAnalytics container private analitics
  src/components/BarChart/BarChart.jsx
  src/components/BarChart/BarChart.scss
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/DeadlineDesignations/DeadlineDesignations.scss
  src/pages/AnalyticsPage/AnalyticsPage.jsx
Due: npm run lint, npm run format

fix: add permissions at yml file
  .github/workflows/publish-image.yml
Due: none

feat(deadlineanalytics): change the location of buttons in the filter
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
Due: npm run lint, npm run format

feat(deadlineanalytics): add a request for deadline data
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/EmployeeCardsInTeamDeadlines/EmployeeCardsInTeamDeadlines.scss
  src/components/EmployeeCardsInTeamDeadlines/EmployeesDeadline.jsx
  src/components/RatingsAnalytics/RatingsAnalytics.jsx
  src/components/Select/Select.jsx
  src/constants/constantAPI.js
  src/pages/AnalyticsPage/AnalyticsPage.jsx
  src/utils/getNameMonth.js
  src/utils/mainApi.js
Due: npm run lint, npm run format

feat(deadlineanalytics): create PictureNoData, display a picture without data
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/EmployeeCardsInTeamDeadlines/EmployeeCardsInTeamDeadlines.jsx
  src/components/PictureNoData/PictureNoData.jsx
  src/components/PictureNoData/PictureNoData.scss
  src/components/RatingsAnalytics/RatingsAnalytics.jsx
  src/components/RatingsAnalytics/RatingsAnalytics.module.scss
Due: npm run lint, npm run format

feat(deadlineanalytics): add EmployeeCardsIndividualDeadlines
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/EmployeeCardsInTeamDeadlines/EmployeeCardsInTeamDeadlines.jsx
  src/components/EmployeeCardsIndividualDeadlines/EmployeeCardsIndividualDeadlines.jsx
  src/components/EmployeeCardsIndividualDeadlines/EmployeeCardsIndividualDeadlines.scss
  src/constants/constantAPI.js
  src/utils/mainApi.js
Due: npm run lint, npm run format

feat(mainapi): rename methods api for admin
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/utils/mainApi.js
Due: npm run lint, npm run format

feat(mainapi): rename constants for admin
  src/constants/constantAPI.js
  src/utils/mainApi.js
Due: npm run lint, npm run format

feat(deadlineanalytics): add user logic dedline
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/constants/constantAPI.js
  src/utils/mainApi.js
Due: npm run lint, npm run format

fix(months): change month name logic
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/constants/months.js
  src/utils/getNameMonth.js
  src/utils/utils.js
Due: npm run lint, npm run format

feat(admindeadlines): make the logic admindeadlines
  src/components/DeadlinesAdmin/AdminDeadlines.jsx
  src/components/DeadlinesAdmin/AdminDeadlines.scss
  src/components/UserDeadlines/UserDeadlines.jsx
  src/components/UserDeadlines/UserDeadlines.scss
Due: npm run lint, npm run format

feat(userdeadlines): make the logic userdeadlines, rename styles
  src/components/BarChart/BarChart.jsx
  src/components/BarChart/BarChart.scss
  src/components/DeadlineAnalytics/DeadlineAnalytics.jsx
  src/components/DeadlineAnalytics/DeadlineAnalytics.scss
  src/components/DeadlineDesignations/DeadlineDesignations.jsx
  src/components/DeadlineDesignations/DeadlineDesignations.scss
  src/components/DeadlinesAdmin/AdminDeadlines.jsx
  src/components/DeadlinesAdmin/AdminDeadlines.scss
  src/components/EmployeeCardsIndividualDeadlines/EmployeeCardsIndividualDeadlines.jsx
  src/components/EmployeeCardsIndividualDeadlines/EmployeeCardsIndividualDeadlines.scss
  src/components/UserDeadlines/UserDeadlines.jsx
  src/components/UserDeadlines/UserDeadlines.scss
  src/pages/AnalyticsPage/AnalyticsPage.jsx
Due: npm run lint, npm run format

style: edit hover styles for buttons at Auth and Register pages
  src/pages/Auth/Auth.module.scss
  src/pages/Register/Register.module.scss
Due: npm run format

Update README.md
  README.md
Due: npm run format

Edit Readme file
  README.md
Due: npm run format
